PORT=5000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Bokachoda@6789
DB_NAME=hrms_db

JWT_SECRET=K8jR3!v9$X#2mN$pQ6wzY1@Lp8&F5tA4!7bC3*v9$X#2mN$pQ6wzY1@Lp8&F5tA4

CLOUDINARY_CLOUD_NAME="dor2gmhrn"
CLOUDINARY_API_KEY="455943482699265"
CLOUDINARY_API_SECRET="9-uHOjdMZfw_N2NSoJc2YSMAABI"

CLIENT_URL=http://localhost:5173
